*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.ctxt

game.ctxt

*.bluej

*.bluej

package.bluej

__SHELL1.java

__SHELL18.java

__SHELL23.java
